*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  height: 400px;
  width: 100%;
  background-color: lightgrey;
}

.width80{
  width: 80%;
  height: 100%;
  background-color: lightgrey;
  margin: auto;

}

.header-top{
  height: 15%;
  background-color: lightblue;
  border-bottom: 1px solid black;
}

.header-bottom{
  height: 15%;
  background-color: lightgreen;
}

.jumbotron{
  height: 60%;
  background-color: lightyellow;
}

.avanzo{
  height: 10%;
  width: 100%;
  background-color: orange;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
